        .selectedPage
        {
            border-top-style:solid; border-top-color:Red; font-weight:bold;
        }
        .toprowtable td
        {
            background-color: Black;
            color: White;
        }
        .toprowtable td:hover
        {
            background-color: Gray;
            cursor:pointer;
            color: White;
        }
        .toprowtable a
        {
            background-color: Black;
            cursor:pointer;
            color: White;
        }

        .bottomrowtable
        {
            background-color: White;
            text-decoration: none;
            color: Gray;
        }
        .bottomrowtable:hover
        {
            background-color: White;
            text-decoration: underline;
            cursor:pointer;
            color: Gray;
        }
        a
        {
            text-decoration:none;
        }
        a:hover
        {
            text-decoration:underline;
        }
