<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="TNSRTCsite.master.cs"
    Inherits="TNSRTCWebSite.TNSRTCsite" %>

<%--<%@ Register Src="~/shared/footer.ascx" TagPrefix="uc" TagName="footer" %>
<%@ Register Src="~/shared/header.ascx"  TagPrefix="uc" TagName="header" %>--%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="background-image: url('background.jpg')">
    <form id="form1" runat="server">
    <div>
        <h1 align="center" style="color: Green;">
            TNSRTC Reservation System</h1>
            <uc:header ID="ucHeader" runat="server" />
        <asp:LinkButton ID="lbLogOut" runat="server" Text="Log Out" OnClick="lbLogOut_Click"></asp:LinkButton>
        <br />
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        <uc:footer ID="ucFooter" runat="server" />
    </div>
    </form>
</body>
</html>
