<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="pageCounter" value="1" />
		<add key="helpLink" value="http://www.google.com" />
	</appSettings>
	<connectionStrings>
		<add name="SecurityDemoConnectionString" connectionString="Data Source=localhost;Initial Catalog=SecurityDemo;Persist Security Info=True;User ID=sa;Password=123"
   providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
  <customErrors  defaultRedirect="~/ErrorPage.aspx" />
		<authentication mode="Forms" />
		<compilation debug="true" targetFramework="4.0" />
		<roleManager enabled="true" defaultProvider="myRoleProvider">
			<providers>
				<clear/>
				<add connectionStringName="SecurityDemoConnectionString" name="myRoleProvider" type="System.Web.Security.RoleProvider" />
			</providers>
		</roleManager>
	</system.web>

</configuration>
