<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="OrdersWcfServiceLibrary.OrderService">
				<clear/>
				<endpoint address="" binding="basicHttpBinding" name="basic" contract="OrdersWcfServiceLibrary.IOrderService" listenUriMode="Explicit">
				</endpoint>
				<!--<endpoint address="net.tcp://localhost:8081/net" binding="netTcpBinding"
                    bindingConfiguration="" name="tcp" contract="OrdersWcfServiceLibrary.IOrderService" />-->
				<host>
					
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	
	</system.serviceModel>
</configuration>
