<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding">
                    <security mode="None" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <services>
            <service name="CustomerWcfServiceLibrary.CustomerService">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8080/CustomerService/" />
					</baseAddresses>
				</host>
                <endpoint address="basic" binding="basicHttpBinding"
                    name="myHTTP" contract="CustomerWcfServiceLibrary.ICustomerService" />
                <endpoint address="net.tcp://localhost:8081/customer/tcp" binding="netTcpBinding"
                    name="myTCP" contract="CustomerWcfServiceLibrary.ICustomerService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>