<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="TNSRTCConnectionString" connectionString="Data Source=localhost;Initial Catalog=TNSRTC;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="RemoteOnly"></customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="LoginPage.aspx" name="TNSRTCcookie">
				<credentials passwordFormat="Clear">
					<user name="admin" password="pass"/>
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
	</system.web>
	<location path="user">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow users="admin"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
