<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="pageCounter" value="1" />
    <add key="helpLink" value="http://www.google.com" />
  </appSettings>

  <system.web>
    <customErrors  defaultRedirect="~/ErrorPage.aspx" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0" />

    <roleManager enabled="true"></roleManager>

  </system.web>

</configuration>
