.borderstyle
{
    border-top-color: Green;
    border-top-style: solid;
    font-weight: bold;
}
.topTable td
{
    background-color:Black;
    font:Arial Bold 20;
}
.topTable td:hover
{
    background-color:Gray;
    
}
.bottomTable a
{
    color: gray;
}
.topTable a
{
    height: 25px;
    color: White;
}
.textTable
{
    width: 623px;
    height: 24px;
    border-color: Blue;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
body
{
    margin: 0px auto;
}
