.divmore
{
    color: #FFFFFF;
}
.borderstyle
{
    border-top-color: Green;
    border-top-style: solid;
    font-weight: bold;
    color: White;
}
.topTable td
{
    background-color: #2D2D2D;
    font: Arial Bold 20;
}
.topTable td:hover
{
    background-color: #97622D;
}
.bottomTable a
{
    color: gray;
}
.topTable a
{
    height: 25px;
    color: gray;
}
.textTable
{
    width: 623px;
    height: 24px;
    border-color: Blue;
}
a
{
    text-decoration: none;
}
.bottomTable a:hover
{
    text-decoration: underline;
}
body
{
    margin: 0px auto;
}
