<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AspNetTrainingClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="aspnetdbConnectionString" connectionString="Data Source=localhost;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="NorthwindConnectionString" connectionString="Data Source=localhost;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TNSRTCConnectionString" connectionString="Data Source=localhost;Initial Catalog=TNSRTC;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" />-->
    <!--<sessionState mode="SQLServer" stateConnectionString="Data Source=localhost;Initial Catalog=ASPState;User ID=sa;Password=123"></sessionState>-->
  </system.web>
  <applicationSettings>
    <AspNetTrainingClasses.Properties.Settings>
      <setting name="AspNetTrainingClasses_calculator_CalculatorService"
        serializeAs="String">
        <value>http://localhost:49340/AJAX/CalculatorService.asmx</value>
      </setting>
      <setting name="AspNetTrainingClasses_MyCalc_CalculatorService"
        serializeAs="String">
        <value>http://localhost:1285/CalculatorService.asmx</value>
      </setting>
      <setting name="AspNetTrainingClasses_net_webservicex_www_WeatherForecast"
        serializeAs="String">
        <value>http://www.webservicex.net/weatherforecast.asmx</value>
      </setting>
      <setting name="AspNetTrainingClasses_weatherwebservicedemo_GlobalWeather"
        serializeAs="String">
        <value>http://www.webservicex.net/globalweather.asmx</value>
      </setting>
      <setting name="AspNetTrainingClasses_SendSMS_SendSMS" serializeAs="String">
        <value>http://www.webservicex.net/SendSMS.asmx</value>
      </setting>
      <setting name="AspNetTrainingClasses_gridviewfromwebservice_gvwebservice"
        serializeAs="String">
        <value>http://localhost/AspNetTrainingClasses/Assignments/Naveen/Web%20Services/gvwebservice.asmx</value>
      </setting>
    </AspNetTrainingClasses.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingWCFService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
     </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1069/CalculationWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingWCFService"
        contract="CalcServiceReference.ICalculationWCFService" name="BasicHttpBinding_ICalculationWCFService" />
      <endpoint address="http://localhost:1069/CustomerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingWCFService"
        contract="CustServiceReference.ICustomerService" name="BasicHttpBinding_ICustomerService" />
    </client>
  </system.serviceModel>
</configuration>