<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AspNetTrainingClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="aspnetdbConnectionString" connectionString="Data Source=localhost;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="NorthwindConnectionString" connectionString="Data Source=localhost;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" />-->
    <!--<sessionState mode="SQLServer" stateConnectionString="Data Source=localhost;Initial Catalog=ASPState;User ID=sa;Password=123"></sessionState>-->
  </system.web>
  <applicationSettings>
    <AspNetTrainingClasses.Properties.Settings>
      <setting name="AspNetTrainingClasses_calculator_CalculatorService"
        serializeAs="String">
        <value>http://localhost:49340/AJAX/CalculatorService.asmx</value>
      </setting>
      <setting name="AspNetTrainingClasses_MyCalc_CalculatorService"
        serializeAs="String">
        <value>http://localhost:1285/CalculatorService.asmx</value>
      </setting>
      <setting name="AspNetTrainingClasses_net_webservicex_www_WeatherForecast"
        serializeAs="String">
        <value>http://www.webservicex.net/weatherforecast.asmx</value>
      </setting>
      <setting name="AspNetTrainingClasses_weatherwebservicedemo_GlobalWeather"
        serializeAs="String">
        <value>http://www.webservicex.net/globalweather.asmx</value>
      </setting>
      <setting name="AspNetTrainingClasses_SendSMS_SendSMS" serializeAs="String">
        <value>http://www.webservicex.net/SendSMS.asmx</value>
      </setting>
    </AspNetTrainingClasses.Properties.Settings>
  </applicationSettings>
</configuration>